    @font-face {
        font-family:Outfit;
        src: url(fonts/Outfit-Bold.ttf);
    }
   
   *{ margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body {
      font-family: "Outfit";
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color:  hsl(209, 44%, 88%);

    }
    .img-bg {
      position: relative;
      width: 250;
      height: 250;
    }

    .img-bg .qr-image{
      height: 170 hsl(218, 44%, 22%);
      width: 170px;
      object-fit: cover;
      border-radius: 5px;
    }
    .card {
      max-width: 190px;
      width: 100%;
      max-height: 350px;
      height: 310px;
      background-color:  hsl(0, 0%, 100%);
      border-radius: 13px;
      padding: 10px;
      box-shadow: 1px 10px 1px  rgba(1, 0, 0, 0. gray);
    }
    
  h1 {
    position:relative;
    top: 10px;
    font-size: 14px;
    color: #191919;
    text-align: center;;
  }
  
  p {
    font-size: 10px;
    color: hsl(218, 6%, 73%);
    margin: 0;
    text-align: center;
    position: relative;
    top: 20px;
  }

  @media only screen and (min-width: 1440px){
    
  }